# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# pip cache
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
